* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
    height: 100vw;
    background-image: url('./image/Background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #014962;
    color: #ddfcff;
    padding: 15px;
    text-align: center;
}


.section {
    padding: 50px 0;
    text-align: center;
}

.section:nth-child(odd) {
    width: 70%;
    height: 60%;
    background-color: #014962;
    opacity: 90%;
   
}

.section:nth-child(even) {
    height: 60%;
    background-color: #014962;
    opacity: 90%;
    width: 70%
}

footer {
    background-color: #014962;
    color: white;
    text-align: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}