#prev-button, #next-button{
    width: 4vw;
    height: 7vh;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button{
    transform: rotate(180deg);
}


.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 80%;
    height: 750px;
    border: solid 1px #ffffff;
}
.on{
    opacity: 1;
}

.container__slider{
    display: flex;
    width: 100%;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
}

.container__images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}