section {
    height: 100vh;
    width: 100%;
    padding: 2%;
}

body {
    background-color: #004561;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title{
    font-size: 3rem;
    color: #DDFCFF;
    font-weight: 600;

}
.text{
    font-size: 1.5rem;
    text-align: center;
    color: #DDFCFF;
    font-weight: 400;   
    margin-bottom: 5%;
}

.container-icons {
    font-size: 6rem;
    color: #DDFCFF;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7%;
    padding: 9%;
}




#beneficios {
    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 50%;
}


#impacto {

    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 90%;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}