section{
    height: 100vh;
    width: 100%;
    padding: 2%;
    border-radius: 30px;
}

#oProblema{
    animation: fadeInRight 3s ease 0s 1 normal forwards;
}


.title{
    font-size: 3rem;
    color: #DDFCFF;
    font-weight: 600;

}

.text{
    font-size: 2rem;
    color: #DDFCFF;
    font-weight: 400;
    
}

section div{
    margin-top: 3%;
}

#tecnologias div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    
}

#tecnologias img{
    width: 40em;
    border-radius: 25px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

#tecnologias{
    text-align: end;
    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 90%;
}

#tecnologias .text{
    width: 60%;
}

#objetivo{

    animation: fadeInRight 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 50%;
}


#publicoAlvo{
    text-align: end;
    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 50%;
}

#publicoAlvo div{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    
}

#beneficios{
    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 50%;
}


#impacto{

    animation: fadeInLeft 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: conver 0% 90%;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}